<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shortly-app-swiftui-fmlzpw.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09D259CF26E0E46200E78369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D259E026E0E46400E78369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D259EB26E0E46400E78369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
